@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
h2 {
    font-family: cursive;
    font-weight: 700 !important;
  margin-bottom: 0px !important;
  font-size: 20px !important;
  line-height: 30px !important;
  letter-spacing: normal !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  color: #ff385c;
  //   color: rgb(72, 72, 72) !important;
}
// figure .inside h2 {
//   color: black !important;
// }
figure {
  /*   width:30%; */
  position: relative;
  padding: 5px;
}

figure img {
  width: 100%;
  border-radius: 3px;
}

figcaption.inside {
  position: absolute;
  top: 20px;
  left: 20px;
}

figcaption.inside h2 {
  color: white;
}

span {
  display: block;
}

.text-desc {
  font-size: 14px !important;
  /*       font-size: 16px !important; */
  line-height: 22px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: rgb(72, 72, 72) !important;
  font-weight: normal !important;
  margin-top: 0px !important;
}

.text-color {
  color: rgb(255, 180, 0) !important;
  font-size: 12px !important;
}
.scroll-to-top {
  display: flex !important;
  border-radius: 20px !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #3CD500 !important;
  box-shadow: 0 0px 14px 0 #49C628  !important;
}